@import url('https://fonts.googleapis.com/css?family=Special Elite&display=swap');

html, body {
  height: 100%;
  margin: 0;
  font-family: "Special Elite";
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly ;
  align-items: flex-start;
}

/* BEGIN - Sidebar */

.sidebar {
  position: sticky;
  top: 0;
  min-width: 200px;
  height: 100vh;
  min-height: 100%;
  background-color: #181f47;
  color: rgba(255, 255, 255, 0.8);  
  border-right: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 5px;
  box-shadow: 1px 0px 3px 0px black;
}

.sidebar-header { 
  height: 60px;  
  color: rgba(255, 255, 255, 0.8);
  box-shadow: 0px 1px 1px 0px rgba(255, 255, 255, 0.2);
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  font-size: 20px;
  line-height: 50px;
  text-align: center;
  text-shadow: 1px 1px 1px black;
}

.filter-menu {
  margin-left: 10px;
  margin-top: 20px;
  line-height: 40px;
}

.filter-btn {
  background-color: inherit;
  color: rgba(255, 255, 255, 0.8);
  font-size: 20px;
  font-family: inherit;
  outline: none;
  border: none;
}

.filter-btn:hover {
  transform: scale(1.1);
  color: rgba(125, 125, 125, 0.9);
}

/* END - Sidebar */

.topbar {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 60px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  box-shadow: 0px 1px 1px 0px rgba(255, 255, 255, 0.4);
  line-height: 50px;
}

/* BEGIN - Main Content */

.main {
  height: 100%;
  min-height: 100vh;
  background-color: rgba(125, 125, 240, 0.1);
  flex-grow: 1;
}

.books-container {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  top: 10%;
  left: 50%;
  margin-left: auto;
  margin-right: auto;
  transform: translate(-50%);
}

.book {
  width: 200px;
  height: 300px;
  margin: 50px 25px;
  border: 1px solid rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  box-shadow: 3px 3px 5px 0px black;
  overflow-wrap: break-word;
  word-wrap: break-word;
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  hyphens: auto;
}

.book-info { /* This governs our .info classes and is removed or shown by JS*/
  width: 200px;
  height: 300px;
  background-color: rgba(125, 125, 125, 0.7);
  border-radius: 5px;
}

.info-title {
  position: relative;
  top: 15%;
  color: white;
  font-size: 20px;
  text-align: center;
  text-shadow: 3px 3px 1px black;
  
}

.info-author {
  position: relative;
  top: 20%;
  color:white;
  font-size: small;
  font-style: italic;
  text-align: center;
  text-shadow: 1px 1px 1px black;
}

.info-pages {
  position: relative;
  top: 23%;
  color: white;
  font-size: 11px;
  font-weight: bold;
  text-align: center;
  text-shadow: 1px 1px 1px black;
}

.info-buttons {
  position: relative;
  top: 40%;
  left: 20%;
}
  
.info-btn {
  width: 50px;
  height: 50px;
  margin-left: 5px;
  background-color: rgba(255, 255, 255, 0.8);  
  border: 1px solid rgba(255, 255, 255, 0.4);
  border-radius: 50px; 
  box-shadow: 3px 3px 5px 0px rgba(0, 0, 0, 0.8);
  font-size: 25px;
  outline: none;
}

.info-btn:hover {
  transform: scale(1.1);
}

.book-add { /* Our default ADD a book frame, always displayed */
  width: 200px;
  height: 300px;
  margin: 50px 25px;
  border: 1px solid rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  box-shadow: 3px 3px 5px 0px black;
}

.add-btn {
  position: relative;
  top: 50%;
  left: 50%;
  width: 100px;
  height: 100px;
  background: inherit;
  border-radius: 5px;
  border: none;
  font-size: 4em;
  outline: none;
  transform: translate(-50%, -50%);
}

.add-btn:hover {
  background: #181f47;
  color: rgba(255, 255, 255, 0.8);
}

/* END - Main Content */ 

/* BEGIN - Form Popup */

.form-popup {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
}

.book-form-container {
  position: fixed; 
  left: 50%;
  top: 50%;
  width: 500px;
  height: 500px;
  padding-top: 100px;
  border: 1px solid black;
  border-radius: 5px;
  transform: translate(-50%, -50%);
  overflow: hidden;
  z-index: 1;
}

.form-header {
  position: absolute;
  top: 0px;
  width: 500px;
  height: 150px;
  background: url(assets/books.jpeg);
  background-size: cover;
  color: white;
  border-bottom: 1px solid black;
  font-size: 4em;
  text-align: center;
  text-shadow: 3px 3px 1px black;
}

.book-form {
  position: absolute;
  top: 150px;
  bottom: 100px;
  width: 500px;
  padding: 20px;
  background-color: rgba(24,31,71,0.5);
  color: rgba(255, 255, 255, 1);
  line-height: 30px;
}

.input-field {
  height: 20px;
  margin-bottom: 15px;
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 5px; 
  outline: none;
}

.radio-choices {
  text-align: center;  
}

.radio-button {
  margin-right: 40px;
}

.cover-preview-container {
  position: absolute;
  right: 10%;
  text-align: center;
 }
 
 .cover-preview {
   position: relative;
   left: 30%;  
   width: 100px;
   height: 150px;
   margin-bottom: 10px;
   margin-top: 5px;
   border: 1px solid black;   
 }

 .form-footer {
  position: absolute;
  bottom: 0px;  
  width: 500px;
  height: 100px;
  background: url(assets/books.jpeg);
  color: white;
  border-bottom: 1px solid black;
  border-top: 1px solid rgba(0, 0, 0, 0.4);
  font-size: 4em;
  text-align: center;  
  text-shadow: 3px 3px 1px black;
}

.form-btn {  
  width: 100px;
  height: 50px;
  margin: 30px 40px;  
  background: inherit;
  color: white;
  border: 1px solid white;
  border-radius: 10px;
  font-family: inherit;
  font-size: 20px;
  box-shadow: 3px 3px 1px 1px black;
  outline: none;
}

.form-btn:hover {
  transform: scale(1.1);
}

/* END - Form Popup */